{# templates/_fallback/partials/footer.html.twig #}
<footer style="background-color:#090e1b">

<style>
footer a, footer {color:#852343}
</style>


    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
            <img src="/assets/Oralituras/thumbs/logo_rosa.png" alt="Oralituras" title="Oralituras" />
                <span class="h5">{{ title ?: nome }}</span><br />
                <div class="font-weight-light" style="font-size:13px;margin-top:5px">
                    E-mail: <a href="mailto:{{ email }}">{{ email }}</a>
                </div>
                <div class="social-net mt-2 mb-4">
                    <a href="{{ facebook ?: '#' }}" target="_blank"
                       rel="noopener noreferrer" {% if not facebook %}class="d-none"{% endif %}>
                        <i class="bi bi-facebook p-2"></i>
                    </a>
                    <a href="{{ instagram ?: '#' }}" target="_blank"
                       rel="noopener noreferrer" {% if not instagram %}class="d-none"{% endif %}>
                        <i class="bi bi-instagram p-2"></i>
                    </a>
                    <a href="{{ linkedin ?: '#' }}" target="_blank"
                       rel="noopener noreferrer" {% if not linkedin %}class="d-none"{% endif %}>
                        <i class="bi bi-linkedin p-2"></i>
                    </a>
                    <a href="{{ twitter ?: '#' }}" target="_blank"
                       rel="noopener noreferrer" {% if not twitter %}class="d-none"{% endif %}>
                        <i class="bi bi-twitter p-2"></i>
                    </a>
                    <a href="{{ youtube ?: '#' }}" target="_blank"
                       rel="noopener noreferrer" {% if not youtube %}class="d-none"{% endif %}>
                        <i class="bi bi-youtube p-2"></i>
                    </a>
                    <a href="{{ website ?: '#' }}" target="_blank"
                       rel="noopener noreferrer" {% if not website %}class="d-none"{% endif %}>
                        <i class="bi bi-globe-americas p-2"></i>
                    </a>
                    <a href="{{ tiktok ?: '#' }}"   target="_blank"
                       rel="noopener noreferrer" {% if not tiktok %}class="d-none"{% endif %}>
                        <i class="bi bi-tiktok p-2"></i>
                    </a>
                    <a href="{{ linktree ?: '#' }}" target="_blank"
                       rel="noopener noreferrer" {% if not linktree %}class="d-none"{% endif %}>
                        <i class="bi bi-share p-2"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-6 text-center">
                <div class="social-net mt-2 mb-4">
                    <img src="{{ INCLUDE_PATH }}assets/img/security.webp" alt="Site com ambiente seguro e protegido" />
                    <a class="p-2"
                       href="https://transparencyreport.google.com/safe-browsing/search?
                             url={{ INCLUDE_PATH }}"
                       target="_blank" rel="noreferrer">
                        <img src="{{ INCLUDE_PATH }}assets/img/selo-google.png"
                             width="150" height="42" alt="Selo Google Safe Browsing — site verificado como seguro">
                    </a>
                </div>
                <p class="footer-link ps-1">
                    {% if use_privacy %}
                        <a href="{{ INCLUDE_PATH }}politica-de-privacidade" rel="noopener noreferrer" target="_blank">
                            PRIVACIDADE
                        </a>
                    {% else %}
                        <a href="{{ privacidade }}" rel="noopener noreferrer" target="_blank">
                            PRIVACIDADE
                        </a>
                    {% endif %}
                    | <a href="{{ INCLUDE_PATH }}login" rel="noopener noreferrer" target="_blank">
                        ÁREA DE CLIENTE
                      </a><br />

                    {% if use_faq %}
                        <a href="{{ faq }}" rel="noopener noreferrer" target="_blank">
                            PERGUNTAS FREQUENTES
                        </a>
                    {% endif %}

                    {% for pagina in paginas_estaticas %}
                        <a href="{{ INCLUDE_PATH }}pagina/{{ pagina.slug|url_encode }}" rel="noopener noreferrer" target="_blank">
                            {{ pagina.titulo }}
                        </a>
                    {% endfor %}

                </p>
            </div>

            <div class="col-md-3">
                <p class="footer-linkd mt-5 footer-kitanda font-weight-bold">
                    <a href="https://github.com/Quijaua/Kitanda" rel="noopener noreferrer" target="_blank">
                        Usamos Kitanda | Open source
                    </a>
                </p>
            </div>
        </div>
    </div>

    <style>
        .social-net a { color:#000 }
        .bi { font-size:32px }
    </style>
</footer>